html, body {
    margin:0;
    padding:0;
	overflow-x:hidden;
}
@charset "utf-8";
.divider{
    position:fixed;
    left:21.5%;
    top:41%;
    bottom:10%;
    border-left:1px black;
	box-shadow: 0 0 5px 1px black;
}

.Rectangle {
	width: 100px;

	height: 50px;
}
.Company_logo {
	width: 80px;
	height: 50px;
	position: relative;
}
.Item_header {
	width: 250;
	position: relative;
	margin: 0;

}
.price_header {
	padding: 0;
	margin: 0;
	position: relative;

}
.price_header1 {
	margin: 0;
	  color: #FF0066;
	
	position: relative;

}
.anchor_style1 {
	background-color : #4ddbff;
	width: 350px;
	height: 100px;
	-webkit-box-shadow: 10px 10px 10px -10px #279E4E;
	box-shadow: 10px 10px 10px -10px #279E4E;
}


.logo {
	padding : 10px;
	float : left;
	
}
.sear {
	float : right;
	padding-right : 120px;
	margin-top : 50px;
}
#submit {
	padding-left : 100px;
}
.left {
	display : inline;
	margin-left : 20px;
	width : 200px;
	float : left;
	position : fixed;
}
.output {
	margin-left : 251px;
	margin-right : 20px;
}
table {
	width : 100%;
	position : relative;
	
	
}
td {
	font-family: Copperplate,"Copperplate Gothic Light",fantasy;
}
th {
	font-family: "Book Antiqua",Palatino,"Palatino Linotype","Palatino LT STD",Georgia,serif;
}
table, th, td {
    border: 0px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: center;
}
#bck {
	background: url("456.jpg") no-repeat center;
	background-size: 100%;
	height: 200px;
}

.cf:before, .cf:after{
    content:"";
    display:table;
}
 
.cf:after{
    clear:both;
}
 
.cf{
    zoom:1;
}    

 /* Form wrapper styling */
.search-wrapper {
width: 300px;
margin: 45px auto 50px auto;
box-shadow: 0 1px 1px rgba(0, 0, 0, .4) inset, 0 1px 0 rgba(255, 255, 255, .2);
}
 
/* Form text input */
 
.search-wrapper input {
width: 228px;
height: 40px;
padding: 10px 5px;
float: left;
font: bold 15px 'lucida sans', 'trebuchet MS', 'Tahoma';
border: 0;
background: #EEE;
border-radius: 3px 0 0 3px;
}
 
.search-wrapper input:focus {
    outline: 0;
    background: #fff;
    box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
}
 
.search-wrapper input::-webkit-input-placeholder {
   color: #999;
   font-weight: normal;
   font-style: italic;
}
 
.search-wrapper input:-moz-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}
 
.search-wrapper input:-ms-input-placeholder {
    color: #999;
    font-weight: normal;
    font-style: italic;
}    
 
/* Form submit button */
.search-wrapper button {
overflow: visible;
position: relative;
float: right;
border: 8px;
border-color : #d83c3c;
padding: 0;
cursor: pointer;
height: 40px;
width: 72px;
font: bold 15px/40px 'lucida sans', 'trebuchet MS', 'Tahoma';
color: white;
text-transform: uppercase;
background: #4d88ff;
border-radius: 0 3px 3px 0;
text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
}
   
.search-wrapper button:hover{     
    background: #4d88ff;
}   
   
.search-wrapper button:active,
.search-wrapper button:focus{   
    background: #4d88ff;
    outline: 8;   
}
 
.search-wrapper button:before { /* left arrow */
    content: '';
    position: absolute;
    border-width: 8px 8px 8px 0;
    border-style: solid solid solid none;
    border-color: transparent #d83c3c transparent;
    top: 12px;
    left: -6px;
}
 
.search-wrapper button:hover:before{
    border-right-color: #4d88ff;
}
 
.search-wrapper button:focus:before,
.search-wrapper button:active:before{
        border-right-color: #4d88ff;
}      
hr.style-seven { 
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}
font {
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.btn {
  background: #4ddbff;
  background-image: -webkit-linear-gradient(top, #4ddbff, #4dddff);
  background-image: -moz-linear-gradient(top, #4ddbff, #4dddff);
  background-image: -ms-linear-gradient(top, #4ddbff, #4dddff);
  background-image: -o-linear-gradient(top, #4ddbff, #4dddff);
  background-image: linear-gradient(to bottom, #4ddbff, #4dddff);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 3px 13px 6px 14px;
  text-decoration: none;
}

.btn:hover {
  background: #4d88ff;
  background-image: -webkit-linear-gradient(top, #4d88ff, #4d88ff);
  background-image: -moz-linear-gradient(top, #4d88ff, #4d88ff);
  background-image: -ms-linear-gradient(top, #4d88ff, #4d88ff);
  background-image: -o-linear-gradient(top, #4d88ff, #4d88ff);
  background-image: linear-gradient(to bottom, #4d88ff, #4d88ff);
  text-decoration: none;
}

.currencyinput {
	border: 1px inset #ccc;
	opacity: 0.5;
}
.currencyinput input {
	border: 0;
}
#one {
        border: 18px solid #F0F8FF; 
}
.search-wrapper button::-moz-focus-inner {  //remove extra button spacing for Mozilla Firefox 
    border: 0;
    padding: 0;
}    */


.box h3{
	text-align:center;
	position:relative;
	top:80px;
}
.box {
	width:100%;
	height:100px;
	background:#FFF;
	margin:-5px auto;
	margin-left : -2px;
}

/*==================================================
 * Effect 7
 * ===============================================*/
.effect7
{
    position:relative;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
	content:"";
    position:absolute; 
    z-index:-1;
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    border-radius:100px / 10px;
} 
.effect7:after
{
    right:10px; 
    left:auto; 
    transform:skew(8deg) rotate(3deg);
}


.boxx h3{
  text-align:center;
  position: relative;
  top:80px;
}
.boxx {
  width:100%;
  height:200px;
  background:#FFF;
  margin:0px auto;
  background: url("1111.jpg") no-repeat center;
  background-size: 100%;
  height: 200px;
}

/*==================================================
 * Effect 2
 * ===============================================*/
.effect2
{
  position: relative;
}
.effect2:before, .effect2:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  box-shadow: 0 15px 10px #777;
  transform: rotate(-5deg);
}
.effect2:after
{
  transform: rotate(5deg);
  right: 10px;
  left: auto;
}

/*  Side Bar   */

.rp_list {
	font-family:Verdana, Helvetica, sans-serif;
	position:fixed;
	right:-220px;
	top:500px;
	margin:0;
	padding:0;
	z-index : 1000;
}

.rp_list ul{
	margin:0;
	padding:0;
	list-style:none;
}
.rp_list ul li{
	width: 190px;
	margin-top:5px;
	display:none;
}
.rp_list ul li #side{
	display: block;
	line-height:10px;
	width: 240px;
	height: 80px;
	background:#fff;
	border:1px solid #4ddbff;
	-moz-border-radius:5px 0px 0px 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}
.rp_list ul li #side #imgside{
	width:20px;
	border:none;
	float:left;
	margin:0px 0px 0px 0px;
	border:0px solid #111;
	-moz-box-shadow:1px 1px 3px #000;
	-webkit-box-shadow:1px 1px 3px #000;
	box-shadow:1px 1px 3px #000;
}
span.rp_title{
	font-size:11px;
	color:#4ddbff;
	height:80px;
	margin:0px 50px 0px 23px;
	display:block;
	text-shadow:1px 1px 1px #FFF;
	padding-top:3px;
	background:#fff;
	-moz-box-shadow:0px 0px 0px #000 inset;
	-webkit-box-shadow:0px 0px 0px #000 inset;
	box-shadow:0px 0px 0px #000 inset;
}
span.rp_links{
	#width:195px;
	height:8px;
	padding-top:8px;
	display:block;
	margin-left:35px;
}
span.rp_links #anc{
	#background: #222 url(../images/bgbutton.png) repeat-x;
	padding: 2px 18px;
	margin-left: -5px;
	font-size:10px;
	color: #000;
	text-decoration: none;
	line-height: 1;
	-moz-box-shadow: 0 1px 3px #000;
	-webkit-box-shadow: 0 1px 3px #000;
	box-shadow:0 1px 3px #000;
	text-shadow: 0 -1px 1px #222;
	cursor: pointer;
	outline:none;
}
span.rp_links #anc:hover{
	background-color:#000;
	color:#4ddbff;
}

